<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="FOV" value="60" />

    <!--TODO Adding differential drive - add the DiffDrive plugin here.-->
    <gazebo>
        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>${track_width}</wheel_separation>
            <wheel_radius>${wheel_radius}</wheel_radius>
            <topic>cmd_vel</topic>
        </plugin>
    </gazebo>

    <!-- End Adding differential drive -->


    <gazebo reference="caster_wheel_link">  
        <mu1 value="0.1" /> 
        <mu2 value="0.1" /> 
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>
    </gazebo>

    <gazebo reference="camera_link">
        <sensor type="camera" name="drive_camera">
            <pose relative_to='camera_link'>0 0 0 0 0 0</pose>
            <camera>
                <horizontal_fov>${FOV * pi / 180}</horizontal_fov>
                <image>
                    <width>720</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>100</far>
                </clip>
            </camera>
            <always_on>1</always_on>
            <update_rate>15</update_rate>
            <visualize>true</visualize>
            <topic>camera/image_raw</topic>
        </sensor>
    </gazebo>

    <gazebo reference="base_link">
        <enable_wind>false</enable_wind>
    </gazebo>
</robot>